> During the course of doing data analysis and modeling, a significant amount of time is spent on data preparation: loading, cleaning, transforming, and rearranging. Such tasks are often reported to take up 80% or more of an analyst’s time

# 7.1 Handling Missing Data

For numeric data, pandas uses the floating-point value NaN (Not a Number) to represent missing data

We call this a sentinel value that can be easily detected:

In [457]:
import pandas as pd

In [458]:
import numpy as np

In [459]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])

In [460]:
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [461]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In pandas, we’ve adopted a convention used in the R programming language by referring to missing data as NA, which stands for not available

In statistics applications, NA data may either be data that does not exist or that exists but was not observed (through problems with data collection, for example)

When cleaning up data for analysis, it is often important to do analysis on the missing data itself to identify data collection problems or potential biases in the data caused by missing data

**The built-in Python None value is also treated as NA in object arrays:**

In [462]:
string_data[0] = None

In [463]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

See Table 7-1 for a list of some functions related to missing data handling

Table 7-1. NA handling methods
<p align='center'>
<img src=''>
</p>

## Filtering Out Missing Data

There are a few ways to filter out missing data. While you always have the option to do it by hand using pandas.isnull and boolean indexing, the dropna can be helpful

On a Series, it returns the Series with only the non-null data and index values:

In [464]:
from numpy import nan as NA

In [465]:
data = pd.Series([1, NA, 3.5, NA, 7])

In [466]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

This is equivalent to:

In [467]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

With DataFrame objects, things are a bit more complex

You may want to drop rows or columns that are all NA or only those containing any NAs. dropna by default drops any row containing a missing value:

In [468]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])

In [469]:
cleaned = data.dropna()

In [470]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [471]:
cleaned

     0    1    2
0  1.0  6.5  3.0

Passing how='all' will only drop rows that are all NA:

In [472]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

To drop columns in the same way, pass axis=1:

In [473]:
data[4] = NA

In [474]:
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [475]:
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

A related way to filter out DataFrame rows tends to concern time series data

Suppose you want to keep only rows containing a certain number of observations. You can indicate this with the thresh argument:

In [476]:
df = pd.DataFrame(np.random.randn(7, 3))

In [477]:
df.iloc[:4, 1] = NA

In [478]:
df.iloc[:2, 2] = NA

In [479]:
df

          0         1         2
0  0.805598       NaN       NaN
1  0.690228       NaN       NaN
2 -0.435846       NaN  0.295062
3 -0.465821       NaN  1.513081
4  0.662444 -1.154032  0.318497
5 -0.704549  0.590201 -1.192582
6 -0.560851  1.051237  0.533652

In [480]:
df.dropna()

          0         1         2
4  0.662444 -1.154032  0.318497
5 -0.704549  0.590201 -1.192582
6 -0.560851  1.051237  0.533652

In [481]:
df.dropna(thresh=2)

          0         1         2
2 -0.435846       NaN  0.295062
3 -0.465821       NaN  1.513081
4  0.662444 -1.154032  0.318497
5 -0.704549  0.590201 -1.192582
6 -0.560851  1.051237  0.533652

## Filling In Missing Data

Rather than filtering out missing data (and potentially discarding other data along with it), you may want to fill in the “holes” in any number of ways

For most purposes, **the fillna method is the workhorse function to use**

Calling fillna with a constant replaces missing values with that value:

In [482]:
df.fillna(0)

          0         1         2
0  0.805598  0.000000  0.000000
1  0.690228  0.000000  0.000000
2 -0.435846  0.000000  0.295062
3 -0.465821  0.000000  1.513081
4  0.662444 -1.154032  0.318497
5 -0.704549  0.590201 -1.192582
6 -0.560851  1.051237  0.533652

Calling fillna with a dict, you can use a different fill value for each column:

In [483]:
df.fillna({1: 0.5, 2: 0})

          0         1         2
0  0.805598  0.500000  0.000000
1  0.690228  0.500000  0.000000
2 -0.435846  0.500000  0.295062
3 -0.465821  0.500000  1.513081
4  0.662444 -1.154032  0.318497
5 -0.704549  0.590201 -1.192582
6 -0.560851  1.051237  0.533652

fillna returns a new object, but you can modify the existing object in-place:

In [484]:
_ = df.fillna(0, inplace=True)

In [485]:
df

          0         1         2
0  0.805598  0.000000  0.000000
1  0.690228  0.000000  0.000000
2 -0.435846  0.000000  0.295062
3 -0.465821  0.000000  1.513081
4  0.662444 -1.154032  0.318497
5 -0.704549  0.590201 -1.192582
6 -0.560851  1.051237  0.533652

The same interpolation methods available for reindexing can be used with fillna:

In [486]:
df = pd.DataFrame(np.random.randn(6, 3))

In [487]:
df

          0         1         2
0  0.282668 -0.779046  0.123671
1  0.374219 -0.856712 -0.210164
2 -1.198993 -1.376683  0.324627
3 -0.112781 -0.321285  1.040633
4 -0.575082  2.510140 -0.531395
5 -0.234213 -0.750339 -0.361803

In [488]:
df.iloc[2:, 1] = NA

In [489]:
df.iloc[4:, 2] = NA

In [490]:
df

          0         1         2
0  0.282668 -0.779046  0.123671
1  0.374219 -0.856712 -0.210164
2 -1.198993       NaN  0.324627
3 -0.112781       NaN  1.040633
4 -0.575082       NaN       NaN
5 -0.234213       NaN       NaN

In [491]:
df.fillna(method='ffill')

          0         1         2
0  0.282668 -0.779046  0.123671
1  0.374219 -0.856712 -0.210164
2 -1.198993 -0.856712  0.324627
3 -0.112781 -0.856712  1.040633
4 -0.575082 -0.856712  1.040633
5 -0.234213 -0.856712  1.040633

In [492]:
df.fillna(method='ffill', limit=2)

          0         1         2
0  0.282668 -0.779046  0.123671
1  0.374219 -0.856712 -0.210164
2 -1.198993 -0.856712  0.324627
3 -0.112781 -0.856712  1.040633
4 -0.575082       NaN  1.040633
5 -0.234213       NaN  1.040633

With fillna you can do lots of other things with a little creativity. For example, **you might pass the mean or median value of a Series:**

In [493]:
data = pd.Series([1., NA, 3.5, NA, 7])

In [494]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

See Table 7-2 for a reference on fillna

Table 7-2. illna function arguments
<p align='center'>
<img src=''>
</p>

# 7.2 Data Transformation

## Removing Duplicates

Duplicate rows may be found in a DataFrame for any number of reasons. Here is an example:

In [495]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})

In [496]:
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

The DataFrame method duplicated returns a boolean Series indicating **whether each row is a duplicate (has been observed in a previous row) or not:**

In [497]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

Relatedly, drop_duplicates returns a DataFrame where the duplicated array is False:

In [498]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

Both of these methods by default consider all of the columns; alternatively, **you can specify any subset of them to detect duplicates**

Suppose we had an additional column of values and wanted to filter duplicates only based on the 'k1' column:

In [499]:
data['v1'] = range(7)

In [500]:
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [501]:
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

duplicated and drop_duplicates by default keep the first observed value combination

Passing keep='last' will return the last one:

In [502]:
data.drop_duplicates(['k1', 'k2'], keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

## Transforming Data Using a Function or Mapping

For many datasets, you may wish to perform some transformation based on the values in an array, Series, or column in a DataFrame

Consider the following hypothetical data collected about various kinds of meat:

In [503]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                              'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [504]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

Suppose you wanted to add a column indicating the type of animal that each food came from

Let’s write down a mapping of each distinct meat type to the kind of animal:

In [505]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

**The map method on a Series accepts a function or dict-like object containing a mapping**, but here we have a small problem in that some of the meats are capitalized and others are not

Thus, we need to **convert each value to lowercase using the str.lower Series method:**

In [506]:
lowercased = data['food'].str.lower()

In [507]:
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [508]:
data['animal'] = lowercased.map(meat_to_animal)

In [509]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

We could also have passed a function that does all the work:

In [510]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

**Using map is a convenient way to perform element-wise transformations and other data cleaning–related operations**

## Replacing Values

Filling in missing data with the fillna method is a special case of more general value replacement

As you’ve already seen, **map can be used to modify a subset of values in an object but replace provides a simpler and more flexible way to do so**

Let’s consider this Series:

In [511]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])

In [512]:
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

The -999 values might be sentinel values for missing data

To replace these with NA values that pandas understands, we can use replace, producing a new Series (unless you pass inplace=True):

In [513]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

If you want to replace **multiple values at once, you instead pass a list** and then the substitute value:

In [514]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

To use a **different replacement for each value, pass a list of substitutes:**

In [515]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

The argument passed can also be a dict:

In [516]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

The data.replace method is distinct from data.str.replace, which performs string substitution element-wise

## Renaming Axis Indexes

Like values in a Series, axis labels can be similarly transformed by a function or mapping of some form to produce new, differently labeled objects

You can also modify the axes in-place without creating a new data structure

Here's a simple example:

In [517]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])

In [518]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

Like a Series, the axis indexes have a map method:

In [519]:
transform = lambda x: x[:4].upper()

In [520]:
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

You can assign to index, modifying the DataFrame in-place:

In [521]:
data.index = data.index.map(transform)

In [522]:
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

If you want to create a transformed version of a dataset **without modifying the original, a useful method is rename:**

In [523]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

Notably, **rename can be used in conjunction with a dict-like object** providing new values for a subset of the axis labels:

In [524]:
data.rename(index={'OHIO': 'INDIANA'},
            columns={'three': 'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

**rename saves you from the chore of copying the DataFrame manually and assigning to its index and columns attributes**

Should you wish to modify a dataset in-place, pass inplace=True:

In [525]:
data.rename(index={'OHIO': 'INDIANA'}, inplace=True)

In [526]:
data

         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

## Discretization and Binning

Continuous data is often discretized or otherwise separated into “bins” for analysis

Suppose you have data about a group of people in a study, and you want to group them into discrete age buckets:

In [527]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

Let’s **divide these into bins** of 18 to 25, 26 to 35, 36 to 60, and finally 61 and older

To do so, you have to use **cut**, a function in pandas:

In [528]:
bins = [18, 25, 35, 60, 100]

In [529]:
cats = pd.cut(ages, bins)

In [530]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

**The object pandas returns is a special Categorical object**. The output you see describes the bins computed by pandas.cut

You can treat it like an array of strings indicating the bin name; **internally it contains a categories array specifying the distinct category names along with a labeling for the ages data in the codes attribute:**

In [531]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [532]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [533]:
pd.value_counts(cats).values

array([5, 3, 3, 1])

Note that pd.value_counts(cats) are the bin counts for the result of pandas.cut

Consistent with mathematical notation for intervals, **a parenthesis means that the side is open, while the square bracket means it is closed (inclusive)**

You can change which side is closed by passing right= False:

In [534]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64, left]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

You can also pass your own bin names by passing a list or array to the labels option:

In [535]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

In [536]:
pd.cut(ages, bins, labels=group_names)

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

**If you pass an integer number of bins** to cut instead of explicit bin edges, **it will compute equal-length bins based on the minimum and maximum values in the data**

Consider the case of some uniformly distributed data chopped into fourths:

In [537]:
data = np.random.rand(20)

In [538]:
pd.cut(data, 4, precision=2)

[(0.11, 0.33], (0.33, 0.55], (0.77, 0.99], (0.77, 0.99], (0.11, 0.33], ..., (0.33, 0.55], (0.55, 0.77], (0.77, 0.99], (0.55, 0.77], (0.77, 0.99]]
Length: 20
Categories (4, interval[float64, right]): [(0.11, 0.33] < (0.33, 0.55] < (0.55, 0.77] <
                                           (0.77, 0.99]]

The precision=2 option limits the decimal precision to two digits

A closely related function, qcut, bins the data based on sample quantiles

Depending on the distribution of the data, using cut will not usually result in each bin having the same number of data points

Since qcut uses sample quantiles instead, by definition you will obtain roughly equal-size bins:

In [539]:
data = np.random.randn(1000) # Normally distributed

In [540]:
cats = pd.qcut(data, 4) # Cut into quartiles

In [541]:
cats

[(0.691, 3.466], (-0.00976, 0.691], (-0.642, -0.00976], (-4.372000000000001, -0.642], (-4.372000000000001, -0.642], ..., (-4.372000000000001, -0.642], (-0.642, -0.00976], (-4.372000000000001, -0.642], (-4.372000000000001, -0.642], (-4.372000000000001, -0.642]]
Length: 1000
Categories (4, interval[float64, right]): [(-4.372000000000001, -0.642] < (-0.642, -0.00976] < (-0.00976, 0.691] <
                                           (0.691, 3.466]]

In [542]:
pd.value_counts(cats)

(-4.372000000000001, -0.642]    250
(-0.642, -0.00976]              250
(-0.00976, 0.691]               250
(0.691, 3.466]                  250
dtype: int64

Similar to cut you can pass your own quantiles (numbers between 0 and 1, inclusive):

In [543]:
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.])

[(1.232, 3.466], (-0.00976, 1.232], (-1.272, -0.00976], (-1.272, -0.00976], (-1.272, -0.00976], ..., (-1.272, -0.00976], (-1.272, -0.00976], (-1.272, -0.00976], (-1.272, -0.00976], (-1.272, -0.00976]]
Length: 1000
Categories (4, interval[float64, right]): [(-4.372000000000001, -1.272] < (-1.272, -0.00976] < (-0.00976, 1.232] <
                                           (1.232, 3.466]]

These discretization functions are especially useful for quantile and group analysis

## Detecting and Filtering Outliers

Filtering or transforming outliers is largely a matter of applying array operations

Consider a DataFrame with some normally distributed data:

In [544]:
data = pd.DataFrame(np.random.randn(1000, 4))

In [545]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.021375     0.110542    -0.007422    -0.035444
std       1.013010     0.999196     1.028026     0.981644
min      -3.008278    -3.608371    -3.906384    -3.905226
25%      -0.652974    -0.552737    -0.703602    -0.693881
50%      -0.017616     0.120589    -0.031515    -0.052645
75%       0.704082     0.801096     0.693352     0.638054
max       3.545353     3.172034     3.810528     3.091671

Suppose you wanted to find values in one of the columns exceeding 3 in absolute value:

In [546]:
col = data[2]

In [547]:
col[np.abs(col) > 3]

119   -3.100382
314   -3.057493
334   -3.004711
480   -3.906384
680    3.810528
Name: 2, dtype: float64

To select all rows having a value exceeding 3 or –3, you can use the any method on a boolean DataFrame:

In [548]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
15  -0.394042 -0.597632 -0.817740  3.091671
119 -0.404500  0.100172 -3.100382  0.000533
185  3.545353  0.327730  1.553019  0.128495
208 -0.754816 -0.795940 -0.815245 -3.905226
295 -3.007264  0.748167  0.637201 -0.052415
310  1.748223  3.172034 -0.157486 -0.917096
314  1.138655  0.449840 -3.057493  0.535409
334  1.055364  0.886904 -3.004711 -0.276604
480  0.244166  0.506415 -3.906384  0.081174
499 -3.008278 -1.269887 -1.287872 -0.008329
522  3.133537  2.006008  0.438792 -0.942205
647 -0.420140 -3.608371  0.996963  1.147400
680  0.681815 -0.131117  3.810528  0.640073
807 -3.001799  0.275389  0.578773  0.325758
812  3.400009 -1.089623  1.671635 -0.132407

Values can be set based on these criteria. Here is code to cap values outside the interval –3 to 3:

In [549]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [550]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.020313     0.110978    -0.007164    -0.034630
std       1.009541     0.996599     1.021793     0.978195
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.652974    -0.552737    -0.703602    -0.693881
50%      -0.017616     0.120589    -0.031515    -0.052645
75%       0.704082     0.801096     0.693352     0.638054
max       3.000000     3.000000     3.000000     3.000000

The statement np.sign(data) produces 1 and –1 values based on whether the values in data are positive or negative:

In [551]:
np.sign(data).head()

     0    1    2    3
0  1.0  1.0  1.0  1.0
1  1.0 -1.0 -1.0 -1.0
2  1.0 -1.0  1.0 -1.0
3 -1.0 -1.0  1.0  1.0
4 -1.0 -1.0 -1.0  1.0

## Permutation and Random Sampling

Permuting (randomly reordering) a Series or the rows in a DataFrame is easy to do using the numpy.random.permutation function

Calling permutation with the length of the axis you want to permute produces an array of integers indicating the new ordering:

In [552]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))

In [553]:
sampler = np.random.permutation(5)

In [554]:
sampler

array([3, 0, 1, 2, 4])

That array can then be used in iloc-based indexing or the equivalent take function:

In [555]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [556]:
df.take(sampler)

    0   1   2   3
3  12  13  14  15
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
4  16  17  18  19

**To select a random subset without replacement, you can use the sample method on Series and DataFrame:**

In [557]:
df.sample(n=3)

    0   1   2   3
2   8   9  10  11
4  16  17  18  19
1   4   5   6   7

To generate a sample with replacement (to allow repeat choices), pass replace=True to sample:

In [558]:
choices = pd.Series([5, 7, -1, 6, 4])

In [559]:
draws = choices.sample(n=10, replace=True)

In [560]:
draws

0    5
2   -1
4    4
3    6
0    5
3    6
4    4
2   -1
1    7
2   -1
dtype: int64

## Computing Indicator/Dummy Variables

Another type of transformation for statistical modeling or machine learning applications is converting a categorical variable into a “dummy” or “indicator” matrix

If a column in a DataFrame has k distinct values, you would derive a matrix or Data. Frame with k columns containing all 1s and 0s

pandas has a get_dummies function for doing this, though devising one yourself is not difficult. Let’s return to an earlier example DataFrame:

In [561]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})

In [562]:
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [563]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In some cases, you may want to add a prefix to the columns in the indicator DataFrame, which can then be merged with the other data.get_dummies has a prefix argument for doing this:

In [564]:
dummies = pd.get_dummies(df['key'], prefix='key')

In [565]:
df_with_dummy = df[['data1']].join(dummies)

In [566]:
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

If a row in a DataFrame belongs to **multiple categories**, things are a bit more complicated

Let’s look at the MovieLens 1M dataset:

In [567]:
import urllib.request 
url = 'https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/datasets/movielens/movies.dat'
filename = 'movies.dat'
urllib.request.urlretrieve(url, filename)

('movies.dat', <http.client.HTTPMessage at 0x7fbe2f173290>)

In [568]:
mnames = ['movie_id', 'title', 'genres']

In [569]:
movies = pd.read_table('movies.dat', sep='::',
                       header=None, names=mnames, encoding='ISO-8859-1')

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [570]:
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

Adding indicator variables for each genre requires a little bit of wrangling

First, we extract the list of unique genres in the dataset:

In [571]:
all_genres =[]

In [572]:
for x in movies.genres:
  all_genres.extend(x.split('|'))

In [573]:
genres = pd.unique(all_genres)

In [574]:
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

One way to construct the indicator DataFrame is to start with a DataFrame of all zeros:

In [575]:
zero_matrix = np.zeros((len(movies), len(genres)))

In [576]:
dummies = pd.DataFrame(zero_matrix, columns=genres)

Now, **iterate through each movie and set entries in each row of dummies to 1**

To do this, we **use the dummies.columns to compute the column indices for each genre:**

In [577]:
gen = movies.genres[0]

In [578]:
gen.split('|')

['Animation', "Children's", 'Comedy']

In [579]:
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2])

Then, we can use .iloc to set values based on these indices:

In [580]:
for i, gen in enumerate(movies.genres):
  indices = dummies.columns.get_indexer(gen.split('|'))
  dummies.iloc[1, indices] = 1

Then, as before, you can combine this with movies:

In [581]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))

In [582]:
movies_windic.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Animation                              0.0
Genre_Children's                             0.0
Genre_Comedy                                 0.0
Genre_Adventure                              0.0
Genre_Fantasy                                0.0
Genre_Romance                                0.0
Genre_Drama                                  0.0
Genre_Action                                 0.0
Genre_Crime                                  0.0
Genre_Thriller                               0.0
Genre_Horror                                 0.0
Genre_Sci-Fi                                 0.0
Genre_Documentary                            0.0
Genre_War                                    0.0
Genre_Musical                                0.0
Genre_Mystery                                0.0
Genre_Film-Noir                              0.0
Genre_Western                                0.0
Name: 0, dtype: object

**For much larger data**, this method of constructing indicator variables with multiple membership is not especially speedy

**It would be better to write a lower-level function that writes directly to a NumPy array, and then wrap the result in a DataFrame**

A useful recipe for statistical applications is to combine get_dummies with a discretization function like cut:

In [583]:
np.random.seed(12345)

In [584]:
values = np.random.rand(10)

In [585]:
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [586]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]

In [587]:
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

# 7.3 String Manipulation

## String Object Methods

In [588]:
val = 'a,b, guido'

In [589]:
val.split(',')

['a', 'b', ' guido']

split is often combined with **strip to trim whitespace** (including line breaks):

In [590]:
pieces = [x.strip() for x in val.split(',')]

In [591]:
pieces

['a', 'b', 'guido']

These substrings could be concatenated together with a two-colon delimiter using addition:

In [592]:
first, second, third = pieces

In [593]:
first + '::' + second + '::' + third

'a::b::guido'

But this isn’t a practical generic method. A faster and more Pythonic way is to pass a list or tuple to the join method on the string '::':

In [594]:
'::'.join(pieces)

'a::b::guido'

Other methods are concerned with locating substrings

Using Python’s in keyword is the best way to detect a substring, though index and find can also be used:

In [595]:
'guido' in val

True

In [596]:
val.index(',')

1

In [597]:
val.find(':')

-1

Note the difference between **find and index is that index raises an exception if the string isn’t found (versus returning –1)**:

Relatedly, count returns the number of occurrences of a particular substring:

In [598]:
val.count(',')

2

**replace will substitute occurrences of one pattern for another**

It is commonly used to delete patterns, too, by passing an empty string:

In [599]:
val.replace(',', '::')

'a::b:: guido'

In [600]:
val.replace(',', '')

'ab guido'

See Table 7-3 for a listing of some of Python’s string methods

Table 7-3. Python built-in string methods
<p align='center'>
<img src=''>
</p>

## Regular Expressions

Regular expressions provide a flexible way to search or match (often more complex) string patterns in text

A single expression, commonly called a **regex, is a string formed according to the regular expression language**

**Python’s built-in re module is responsible for applying regular expressions to strings;** I’ll give a number of examples of its use here

The re module functions fall into **three categories: pattern matching, substitution, and splitting**

Suppose we wanted to split a string with a variable number of whitespace characters **(tabs, spaces, and newlines)**. **The regex describing one or more whitespace characters is \s+:**

In [601]:
import re

In [602]:
text = 'foo bar\t baz \tqux'

In [603]:
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

When you call re.split('\s+', text), the regular expression is first compiled, and then its split method is called on the passed text

You can compile the regex yourself with **re.compile, forming a reusable regex object:**

In [604]:
regex = re.compile('\s+')

In [605]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

If, instead, you wanted to **get a list of all patterns matching the regex**, you can use the **findall** method:

In [606]:
regex.findall(text)

[' ', '\t ', ' \t']

To avoid unwanted escaping with \ in a regular expression, **use raw string literals** like r'C:\x' instead of the equivalent 'C:\ \x'

**Creating a regex object with re.compile is highly recommended if you intend to apply the same expression to many strings;** doing so will save CPU cycles

match and search are closely related to findall. While **findall returns all matches in a string, search returns only the first match**. More rigidly, **match only matches at the beginning of the string.**

As a less trivial example, let’s consider a block of text and a regular expression capable of identifying most email addresses:

In [607]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

Using findall on the text produces a list of the email addresses:

In [608]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

search returns a special match object for the first email address in the text

For the preceding regex, the match object can only tell us the start and end position of the pattern in the string:

In [609]:
m = regex.search(text)

In [610]:
m

In [611]:
text[m.start():m.end()]

'dave@google.com'

regex.match returns None, as it only will match if the pattern occurs at the start of the string:

In [612]:
print(regex.match(text))

None

Relatedly, **sub will return a new string with occurrences of the pattern replaced by the a new string:**

In [613]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

Suppose you wanted to find email addresses and simultaneously **segment** each address into its three components: **username, domain name, and domain** suffix

To do this, put parentheses around the parts of the pattern to segment:

In [614]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [615]:
regex = re.compile(pattern, flags=re.IGNORECASE)

A match object produced by this modified regex returns a tuple of the pattern components with its groups method:

In [616]:
m = regex.match('wesm@bright.net')

In [617]:
m.groups()

('wesm', 'bright', 'net')

findall returns a list of tuples when the pattern has groups:

In [618]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

sub also has access to groups in each match using special symbols like \1 and \2

The symbol **\1 corresponds to the first matched group, \2 corresponds to the second, and so forth:**

In [619]:
print(regex.sub(r'Username: \1, Doman: \2, Suffix: \3', text))

Dave Username: dave, Doman: google, Suffix: com
Steve Username: steve, Doman: gmail, Suffix: com
Rob Username: rob, Doman: gmail, Suffix: com
Ryan Username: ryan, Doman: yahoo, Suffix: com

There is much more to regular expressions in Python, most of which is outside the book’s scope. Table 7-4 provides a brief summary

Table 7-4. Regular expression methods
<p align='center'>
<img src=''>
</p>

## Vectorized String Functions in pandas

Cleaning up a messy dataset for analysis often requires a lot of string munging and regularization

To complicate matters, a column containing strings will sometimes have missing data:

In [620]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}

In [621]:
data = pd.Series(data)

In [622]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [623]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

You can apply string and regular expression methods can be applied (passing a lambda or other function) to each value using data.map, but it will fail on the NA (null) values

To cope with this, **Series has array-oriented methods for string operations that skip NA values**

These are accessed through Series’s str attribute; for example, **we could check whether each email address has 'gmail' in it with str.contains:**

In [624]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

Regular expressions can be used, too, along with any re options like IGNORECASE:

In [625]:
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [626]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

There are a couple of ways to do vectorized element retrieval. Either use str.get or index into the str attribute:

In [627]:
matches = data.str.match(pattern, flags=re.IGNORECASE)

In [628]:
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

To access elements in the embedded lists, we can pass an index to either of these functions:

In [636]:
#matches.str.get(1)



```
#Book Output
Dave NaN
Rob NaN
Steve NaN
Wes NaN
dtype: float64

AttributeError: Can only use .str accessor with string values!
```

In [637]:
#matches.str[0]



```
#Book Output
Dave NaN
Rob NaN
Steve NaN
Wes NaN
dtype: float64

AttributeError: Can only use .str accessor with string values!
```

You can similarly slice strings using this syntax:

In [631]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object

See Table 7-5 for more pandas string methods

Table 7-5. Partial listing of vectorized string methods
<p align='center'>
<img src=''>
</p>